<div class="wrap"></div>
<div class="container">
  <div class="row">
    <div class="col-12"><h2>Where would you like to eat?</h2></div>
    <div class="col-12">
      <div id="custom-search-input">
        <div class="input-group">


          <script>
              $(document).ready(function () {
                  let input = document.getElementById('autocomplete');
                  let autocomplete = new google.maps.places.Autocomplete(input, {types: ['(cities)']});
                  google.maps.event.addListener(autocomplete, 'place_changed', function () {
                      let place = autocomplete.getPlace();
                  })
              });
          </script>


          <input id="autocomplete" name="autocomplete" type="text" class="form-control" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>


          <input type="hidden" name="lat">
          <input type="hidden" name="long">


        </div>
      </div>
    </div>
  </div>
</div>
</div>