/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: rgba(0, 0, 0, 0.5);
    /*background-image: url(/assets/2959305.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.brand {
    color:#28a745;
    font-family: 'Carter One', cursive;
    font-size:2em;
    -webkit-text-stroke: 1px black;
    color: #28a745;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.wrap {
    background-color: white;
}

#gavin {
    color:white;
    text-decoration:none;
    text-align:center;
    font-family: 'Righteous', sans-serif;
    :center;
}
#gavin:hover {
    color: #28a745;


 }